 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>

 <div class="user-details">
  <h1> Journey so far </h1>
</div>

<div class="user">
   
  <div class="tech">
  <img alt="mountains" src="{{ "/assets/img/AAHK_logo.png" | prepend: site.baseurl }}" height="150" width="150"/>
  <h4 class>Airport Authority Hong Kong</h4>
  <p class>Data Science Intern - Mobile Application Analytics 2016</p>
  </div>
    
  <div class="tech">
  <img alt="mountains" src="{{ "/assets/img/audi_logo.png" | prepend: site.baseurl }}" height="150" width="150"/>
  <h4 class>Audi</h4>
  <p class>Analytics Intern - Audi Innovation Research (AIR) 2017</p>
  </div>
    
  <div class="tech">
  <img alt="mountains" src="{{ "/assets/img/bp_logo.png" | prepend: site.baseurl }}" height="150" width="150"/>
  <h4 class>BP North America</h4>
  <p class>Data Science Practicum Consultant 2017</p>
  </div>
    
  <div class="tech">
  <img alt="mountains" src="{{ "/assets/img/kpmg_logo.png" | prepend: site.baseurl }}" height="150" width="150"/>
  <h4 class>KPMG US</h4>
  <p class>Data Science Intern, Cognitive Lab - Lighthouse 2018</p>
  </div>
    
  <div class="tech">
  <img alt="mountains" src="{{ "/assets/img/IBM_logo.png" | prepend: site.baseurl }}" height="150" width="150"/>
  <h4 class>IBM Global Business Services</h4>
  <p class>Sr. Data Scientist, Advanced Analytics - Distribution Industry 2019-Present </p>
  </div>
</div>

  <div class="user">
    <div class="tech">
      <h2>Programming</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-d3js-plain colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <p>Python, R, SQL, Java, Hadoop, Spark, Hive, C++, Javascript, HTML, D3.js, Docker  </p>
        
    </div>
    <div class="tech">
      <h2>Coursework</h2>
      <p>Predictive Analytics I-II</p>
      <p>Optimization and Heuristics</p>
      <p>Data Mining</p>
      <p>Deep Learning</p>
      <p>Analytics for Big Data</p>
      <p>Data Visualization</p>
      <p>Data Warehousing</p>
      <p>Text Analytics </p>
    </div>
      
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-apache-line-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>AWS, Azure, Tableau, MySQL, Postgres, Hadoop, Spark, Hive, Apache, Linux, </p>
    </div>
</div>

  <div class="user">
    <div class="tech">
      <h2>Certifications</h2>
      <p>AWS Certified Developer - Associate </p>
      <p>Azure Certified Specialist </p>
      <p>Associate Certified Analytics Professional (INFORMS) </p>
      <p>Lean Six Sigma - Green Belt </p>
        
    </div>
    <div class="tech">
      <h2>Publication</h2>
      <p>A Team Based Player Versus Player Recommender </p>
      <p>Systems Framework For Player Improvement </p>
      <p>in: NSW, Australia, ACSW, 2019 </p>
      <a href="https://vincent9514.github.io/Type-on-Strap/2018/03/26/Yelp.html" style="font-size: 20px">Check it out</a>
    </div>
      
</div>
