<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Destiny-2-1080P-Wallpaper.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Destiny II Gaming Analytics </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Destiny II, a multiplayer first-person shooter, with data provided by the game’s developer Bungie Studio</p>
    <a class="project-link" href="project_1.html">Check it out</a>
  </div>
</div>
