<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/FIFA18_background.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> FIFA18 Soccer Player Transfer Value Prediction </h3>
    <ul>
      <li> Cloud Application Development</li>
    </ul>
    <p>Developed AWS Web App using Flask Framework to predict FIFA18 Player Transfer Value. The web app was finally deployed on AWS Beanstalk environment. </p>
    <a class="project-link" href="https://vincent9514.github.io/Type-on-Strap/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Destiny-2-1080P-Wallpaper.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Destiny II Gaming Analytics </h3>
    <ul>
      <li> Gaming Recommender System</li>
    </ul>
    <p>Destiny II, a multiplayer first-person shooter, with data provided by the game’s developer Bungie Studio</p>
    <a class="project-link" href="https://vincent9514.github.io/Type-on-Strap/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Shoprunner.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Shoprunner Customer Survival Analysis </h3>
    <ul>
      <li> Repurchasing Analysis</li>
    </ul>
    <p>Conducted discrete time covariate analysis to predict customer repurchase likelihood on top 15 retailers from Shoprunner. </p>
    <a class="project-link" href="https://vincent9514.github.io/Type-on-Strap/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/BP.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> BP Customer Segmentation </h3>
    <ul>
      <li> Clustering and CLV Modeling</li>
    </ul>
    <p>Apply clustering methods to segment customers based on purchasing patterns identified in transaction
    data along with geographical, competitor, and other external data sources; 
    create end-user Tableau report for marketing team</p>
    <a class="project-link" href="https://vincent9514.github.io/Type-on-Strap/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/CBG.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Rare Plants Visualization </h3>
    <ul>
      <li> Chicago Bontanic Garden</li>
    </ul>
    <p>Conducted discrete time covariate analysis to predict customer repurchase likelihood on top 15 retailers from Shoprunner. </p>
    <a class="project-link" href="https://vincent9514.github.io/Type-on-Strap/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Yelp_Data_Challenge.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Yelp Data Challenge </h3>
    <ul>
      <li> Text Analytics</li>
    </ul>
    <p> Converted raw Yelp review data (3.46G) to vector space for Natural Language Processing in Python (pandas, sklearn, tf-idf); Developed classification models (Logistic Regression, Naive Bayes, and Random Forest) based on restaurants’ ratings; 
    Clustered users and identified the common users’ preferences by inspecting the cluster centroids</p>
    <a class="project-link" href="https://vincent9514.github.io/Type-on-Strap/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Shoprunner.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Shoprunner Customer Survival Analysis </h3>
    <ul>
      <li> Repurchasing Analysis</li>
    </ul>
    <p>Conducted discrete time covariate analysis to predict customer repurchase likelihood on top 15 retailers from Shoprunner. </p>
    <a class="project-link" href="https://vincent9514.github.io/Type-on-Strap/">Check it out</a>
  </div>
</div>